{% extends "base.html" %}
{% load static %}

{% block head %}
{% block title %}O nás{% endblock %}
{% endblock %}

{% block content %}
<p class="moving-text">O nás</p>
<section>
    <div class="container">
        <div class="top-left"></div>
        <div class="top-right">Niečo o nás</div>
        <div class="left"></div>
        <div class="right">
            <div class="content">
                <p>Vitajte v našom malom rodinnom bare vo Svidniku! Od roku 2012 sme tu pre Vás, aby sme Vám ponúkli najlepšie pivné zážitky a nezabudnuteľné chvíle. V roku 2020 sme prešli kompletnou rekonštrukciou, takže teraz môžete využívať naše priestory s ešte väčším komfortom.

                    Ako pivný pub máme pre Vás pripravený široký výber piv a iných nápojov, takže si určite nájdete ten svoj obľúbený. Okrem toho máme aj veľkú terasu, ktorá je ideálna pre letné dni a večery.
                    
                    V našom bare sa cítite ako doma a tešíme sa na Vašu návštevu!</p>
            </div>

        </div>
    </div>
</section>
{% endblock %}