{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<p class="moving-text">O nás</p>
<section>
    <div class="container">
        <div class="top-left"></div>
        <div class="top-right">Niečo o nás</div>
        <div class="left"></div>
        <div class="right">
            <div class="content">
                <p>Hostinec U Jakuba je malá krčma založena v roku 2012 v malebnom meste Svidník. Naša príjemná atmosféra a milý personál Vás urobí cítiť ako doma. Hrdí sme na servírovanie chutného tradičného slovenského jedla a nápojov, vrátane regionálnych špecialít a domácich pivov. Či už hľadáte casual jedlo s priateľmi alebo miesto na oslavu špeciálnej príležitosti, Hostinec U Jakuba je ideálne miesto. Navštívte nás a vychutnajte si teplú pohostinnosť Svidníka.</p>
            </div>

        </div>
    </div>
</section>
{% endblock %}