{% extends "base.html" %}
{% load static %}
{% block title %}Hostinec u Jakuba{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<p class="moving-text">Vitajte</p>
{% if user.is_authenticated %}
  <h1>Welcome, {{ user.username }}!</h1>
{% else %}
<h1>Welcome to My Bar</h1>
{% endif %}
<div class="grid">
  <figure class="effect-milo">
    <img src="https://images.unsplash.com/photo-1552590635-257736c7474a?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzUwOTc1MzU&ixlib=rb-4.0.3&q=80" alt="img11"/>
    <figcaption>
      <h2>kde<span>sme</span></h2>
      <p>ul. Sovietských Hrdinov 406, 08901 Svidník</p>
    
    </figcaption>			
  </figure>
  <figure class="effect-milo">
    <img src="https://images.unsplash.com/photo-1565755713428-1bdfaa7db8ba?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzUwOTc1MzU&ixlib=rb-4.0.3&q=80" alt="img03"/>
    <figcaption>
      <h2>kedy<span>sme</span></h2>
      <p>Pondelok - Nedeľa</p>
      <p>14:00 - 23:00</p>
  
    </figcaption>			
  </figure>
<figure class="effect-milo">
    <img src="https://images.unsplash.com/photo-1566053936041-d607ea0578b5?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzUwOTc1MzU&ixlib=rb-4.0.3&q=80" alt="img03"/>
    <figcaption>
      <h2>Hostinec<span>u</span>Jakuba</h2>
      <p>Pridte sa k nam odreagovat</p>

    </figcaption>			
  </figure>
<figure class="effect-milo">
    <img src="https://images.unsplash.com/photo-1568644396922-5c3bfae12521?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzUwOTc1MzU&ixlib=rb-4.0.3&q=80" alt="img03"/>
    <figcaption>
      <h2>Tešíme<span>sa</span></h2>
      <p>Na zdravie</p>
    
    </figcaption>			
  </figure>
</div>

{% endblock %}