{% extends 'base.html' %}
{% block title %}Chat{% endblock %}


{% block content %}
  
<form class="input-and-button" action="" method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {% for i in form %}
    <p class="text-area">{{ i }}</p>
    {% endfor %}
    <button class="buttonik material-icons arrow" type="submit">trending_flat</button>
</form>


  {% for field in object_list %}
  <div class="upper-container">
  <div class="post-container">
    <div class="name-date">
        <p class="user">{{ field.user }} </p>
        <p class="date">, {{ field.date }}</p>
      </div>
      <p class="text">{{ field.text }}</p>
      </div>
    </div>
    {% endfor %}
    <nav>
      {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.previous_page_number}}"
            >&laquo;</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        {% endif %} {% for i in paginator.page_range %} 
        {% if page_obj.number == i %}
        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %} {% endfor %} {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?page={{page_obj.next_page_number}}" class="page-link"
            >&raquo;</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </nav>
{% endblock %}